/** FONTS **/
@font-face {
    font-family: "bl-regular";
    src: url("../fonts/tt-norms-pro-regular.woff") format("woff");
    font-display: swap;
}/** REGULAR **/

@font-face {
    font-family: "bl-medium";
    src: url("../fonts/tt-norms-pro-medium.woff") format("woff");
    font-display: swap;
}/** BOLD **/

@font-face {
    font-family: "bl-bold";
    src: url("../fonts/tt-norms-pro-bold.woff") format("woff");
    font-display: swap;
}/** BOLD **/